.chat-box {
  max-width: 800px;
  margin: 0 auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #fff0f5;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  background-color: #fff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
}

.chat-message {
  margin-bottom: 15px;
  display: flex;

  &.me {
    justify-content: flex-end;
  }

  &.other {
    justify-content: flex-start;
  }
}

.message-bubble {
  max-width: 70%;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #fce4ec;
  color: #333;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
  }
}

.chat-message.me .message-bubble {
  background-color: #d1e7ff;
  align-self: flex-end;
  border-bottom-right-radius: 0;

  &::after {
    right: -10px;
    border-width: 10px 0 0 10px;
    border-color: transparent transparent transparent #d1e7ff;
  }
}

.chat-message.other .message-bubble {
  border-bottom-left-radius: 0;

  &::after {
    left: -10px;
    border-width: 10px 10px 0 0;
    border-color: transparent #fce4ec transparent transparent;
  }
}
