.like-card {
  border-radius: 16px;
  transition: 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }

  img {
    height: 260px;
    object-fit: cover;
  }
}
